.enfeite{
    width: 100%;
    height: 400px;
    display: flex;
}
.img-enfeite{
    width: 50%;
    height: 100%;
}
.leftimg{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.5)),  url(./img/igp.jpg);
    background-position: center;
    background-size: cover;
 
}
.rightimg{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.5)), url(./img/rionegro.jpg);
    background-position: center;
    background-size: cover;
}